<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="browser" value="chrome"/>
    <add key ="multiBrowser" value="true"/>
    <add key="url" value="http://mysportcart.com/"/>
    <add key="mailids" value="pellurisure@gmail.com;rajuarsur@gmail.com;ankprotraining@gmail.com"/>
    <add key="mailsubject" value="Regression testing cycle - 2"/>
  </appSettings>
</configuration>